body {
    background-image: url("backgroundLogin.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
  };
  .container-fluid {
    padding: 0 !important;

};

